# Dépendances
node_modules/

# Next.js
.next/
out/

# Logs & env
*.log
.env.local
.env*
.vscode/
.content-collections

# Temp
.tmp/

# Test coverage
coverage/

# Business documents
content/*.docx
content/*.pdf

# TS build info
tsconfig.tsbuildinfo
.claude/
.notes/
